[tool.black]
line-length = 127
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | \.env
  | build
  | dist
  | \.eggs
  | \.mypy_cache
  | \.pytest_cache
  | \.ruff_cache
  | __pycache__
  | migrations
  | node_modules
  | ml_models
)/
'''

